{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="login-form px-3 my-5 py-4 mx-auto d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-3 fs-1 fw-bold">Login</h2>
    <form action="/login" class="container" method="POST">
        <div class="mb-4">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control"  placeholder="Enter Email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary w-100 mb-4"> Login </button>
        </div>
        <div class="text-center">
            <span> You not Register ? <a href="{{ url_for('auth.Register') }}">Register</a></span>
        </div>
    </form>
</div>
{% endblock %}