{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="register-form px-3 my-5 py-4 mx-auto d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-3 fs-1 fw-bold">Register</h2>
    <form action="/register" class="container" method="POST" onsubmit="return validateRegisterForm();">
        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name:</label>
            <input id="fullname" type="text" name="fullname" class="form-control" value="{{ form_data.get('fullname','') }}" placeholder="Enter Full Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input id="email" type="email" name="email" class="form-control" value="{{ form_data.get('email','') }}" placeholder="Enter Email">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number:</label>
            <input id="phone" type="tel" name="phone" class="form-control" value="{{ form_data.get('phone','') }}" placeholder="Enter Phone No.">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input id="password" type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success w-100 mt-3"> Register </button>
        </div>
        <div class="mt-3 text-center">
            <span>You already Register ? <a href="{{ url_for('auth.login') }}">Login</a></span>
        </div>
    </form>
</div>
{% endblock %}